/***************** Tooltip ********************/
.chart-tooltip {
  position: absolute;
  padding: 0.5rem;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 9;

  &.hidden {
    display: none;
  }

  p {
    margin: 0;
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;

    .date {
      margin-right: 1rem;
    }

    .value {
      font-weight: 900;
    }
  }
}


/******************* Chart ******************/
.chart-wrapper {
  background-color: #135045;

  .chart {
    width: 100%;
    height: 76rem;
    padding-top: 2rem;

    /********************* Axes ************************/
    .axis {

      line, path {
        fill: none;
        stroke: #777;
        stroke-width: 1;
        shape-rendering: crispEdges;
      }

      text {
        fill: #A7A7A7;
      }

      &.y {

        path, .tick {
          display: none;
        }

        .minor {

          line {
            stroke-dasharray: 2,2;
          }
        }
      }

    }

    /**************** Brush ****************/
    .brush {

      .extent {
        stroke: #fff;
        fill-opacity: .5;
        shape-rendering: crispEdges;
        cursor: w-resize !important;
      }

      .background {
        cursor: col-resize !important;
      }
    }

    /************** Circles ***************/
    .circle {
      fill: white;
      stroke: black;
      stroke-width: 1.5px;
      transition: all 0.3s;
      cursor: pointer;
      z-index: 5;

      &:hover {
        fill: cyan;
        stroke: red;
        stroke-width: 3px;
      }

      &.circle-global_performance {

      }
    }

    /************** Areas ***************/
    .area {
      fill: #50A7A5;
      stroke-width: 0;
      z-index: 0;

      &.area-global_performance {

      }
    }

    /************** Main Lines ***************/
    .line {
      fill: none;
      stroke: #bbb;
      stroke-width: 1.5px;
      z-index: 1;
      stroke-dasharray: 3, 3;

      &.line-global_performance {

      }
    }

    /************** Regression Lines ***************/
    .reg {
      fill: none;
      stroke: #DC3232;
      stroke-width: 3px;
      z-index: 2;
      stroke-dasharray: 10, 10;

      &.reg-global_performance {

      }
    }
  }
}
