@import "chart";

html {
  height: 100%;
}

body {
  height: 100%;

  .main-wrapper {
    height: 100%;

    .main-container {
      height: 100%;
      background-color: #222222;

      .fc-loader {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5) url("assets/img/loader_ying_yang_250x250.gif") no-repeat center;
        background-size: 128px;
        z-index: 1;
        display: none;
        opacity: 0.5;

        &.active {
          display: block;
        }
      }

      .navbar {
        margin-bottom: 0;
        border-radius: 0 !important;

        .navbar-brand {
          padding: 0.5rem 4rem 0.5rem 0.5rem;

          img {
            height: 100%;
          }
        }

        form.navbar-form {
          color: #ddd;

          input[name=store_id] {
            min-width: 267px;
          }
        }
      }

      .content {
        padding-top: 0;
        margin: 0;

        .inputs {
          height: 80rem;
          padding-top: 4rem;
          margin: 0;
          background-color: #222;
          border-color: #080808;
          color: #ddd;

          .oe-reset-filters {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}
